<!DOCTYPE html>
<html>
<body>

<h2>Sign Up</h2>

<form action="http://localhost:8000/doctors/createaccount/",  method="post">
    {% csrf_token %}

    <label for="username">Username:</label><br>
  <input type="username" id="username" name="username"><br>

  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br>

     <label for="fname">First Name:</label><br>
  <input type="text" id="fname" name="fname"><br>

    <label for="lname">Last Name:</label><br>
  <input type="text" id="lname" name="lname"><br>

     <label for="lname">Birthday:</label><br>
    <input type="date" id="dob" name="dob"
       min="1900-01-01">

    <br>
        <br>
  <input type="submit" value="Submit">
</form>

</body>
</html>